

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        .form-row {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        .login-title {
            line-height: 1.5;
            font-style: normal;
            color: #43434b;
            text-align: center;
            -webkit-box-direction: normal;
            box-sizing: border-box;
            outline: 0 !important;
            margin-top: 0;
            padding-left: 0;
            font-size: 24px;
            margin-bottom: 25px;
            font-weight: 700;
        }
    }
}

.custom-input {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    direction: ltr;
    display: block;
    width: 100% !important;
    padding: .85em 1.15em !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    transition: all .15s ease-in-out !important;
    font-size: 14px;
    height: 48px !important;
    border: 1px solid #DADCE0 !important;
    box-sizing: border-box;
    border-radius: 8px !important;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    box-shadow: none;
}

.custom-button {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    direction: ltr;
    vertical-align: middle;
    box-sizing: border-box;
    word-break: keep-all;
    white-space: nowrap;
    border-radius: 8px !important;
    border: 1px solid transparent;
    filter: none;
    width: 205px;
    padding: .7rem .9rem;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
    background-color: #673DE6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 53px;
    font-weight: bold;
    font-size: large;
    line-height: 24px;
}

.error-state {
   font-size: 12px;
   color: red;  
}

.main-navbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    .navbar-element {
        line-height: 1.5;
            font-style: normal;
            color: #43434b;
            text-align: center;
            -webkit-box-direction: normal;
            box-sizing: border-box;
            outline: 0 !important;
            margin-top: 0;
            padding-left: 0;
            font-size: 16px;
            margin-bottom: 25px;
            font-weight: 700;
            cursor: pointer;
    }
}

.modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(189, 189, 189, 0.9);
}

.comment-modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(189, 189, 189, 0.9);
}


.modal-btn {
    padding: 0.6rem 1.4rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
    font-family: "Work Sans";

}

.modal-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 30rem;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 2rem;
}

.comment-modal-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 30rem;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 2rem;
    .like-users {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 4px;
    }
    .comment-creation {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}


.dashboard-container {
    background-color: #8e44ad;;
    height: 100vh;
    width: 100%;
    padding: 10px 10px;
    .dashboard-row {
        display: flex;
        justify-content: space-between;
        .profile-container {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 20px;
            .title-bar {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                color: white;
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
            }
            .email-bar {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    .search-container {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: #fff;
        gap: 20px;
        .search-row {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .search-item {
                font-size: 14px;
                color: #fff;
                display: flex;
                align-items: center;
                gap: 6px;
                cursor: pointer;
            }
        }
    }


}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Choose your footer color */
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-size: 20px;
    margin-top: 24px;
    width: auto;
}

.post-button {
    padding: 12px 30px;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: #4CAF50; /* Green color */
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 200px;
}

.post-button:hover {
    background-color: #45a049;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

/* Focus effect */
.post-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
}

/* Active effect */
.post-button:active {
    background-color: #388e3c;
    transform: translateY(2px);
}


.styled-textarea {
    width: 100%;
    max-width: 500px;
    height: 150px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    resize: vertical;
    outline: none;
    transition: all 0.3s ease;
}

.post-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-size: 20px;
    margin-top: 24px;
    width: auto;
}

.post-lists {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 400px;
    overflow-y: scroll;
    .svg-container {
        display: flex;
        gap: 8px;
        margin-top: 4px;
        .single-svg {
            display: flex;
            align-items: center;
            gap: 2px;
            font-size: 12px;
            cursor: pointer;

        }
    }
}