

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        .form-row {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        .login-title {
            line-height: 1.5;
            font-style: normal;
            color: #43434b;
            text-align: center;
            -webkit-box-direction: normal;
            box-sizing: border-box;
            outline: 0 !important;
            margin-top: 0;
            padding-left: 0;
            font-size: 24px;
            margin-bottom: 25px;
            font-weight: 700;
        }
    }
}

.custom-input {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    direction: ltr;
    display: block;
    width: 100% !important;
    padding: .85em 1.15em !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    transition: all .15s ease-in-out !important;
    font-size: 14px;
    height: 48px !important;
    border: 1px solid #DADCE0 !important;
    box-sizing: border-box;
    border-radius: 8px !important;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    box-shadow: none;
}

.custom-button {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    direction: ltr;
    vertical-align: middle;
    box-sizing: border-box;
    word-break: keep-all;
    white-space: nowrap;
    border-radius: 8px !important;
    border: 1px solid transparent;
    filter: none;
    width: 205px;
    padding: .7rem .9rem;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
    background-color: #673DE6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 53px;
    font-weight: bold;
    font-size: large;
    line-height: 24px;
}

.error-state {
   font-size: 12px;
   color: red;  
}

.main-navbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    .navbar-element {
        line-height: 1.5;
            font-style: normal;
            color: #43434b;
            text-align: center;
            -webkit-box-direction: normal;
            box-sizing: border-box;
            outline: 0 !important;
            margin-top: 0;
            padding-left: 0;
            font-size: 16px;
            margin-bottom: 25px;
            font-weight: 700;
            cursor: pointer;
    }
}

.modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(189, 189, 189, 0.9);
}

.modal-btn {
    padding: 0.6rem 1.4rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
    font-family: "Work Sans";

}

.modal-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 30rem;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 2rem;
}



.dashboard-container {
    background-color: #000;
    height: 100vh;
    width: 100%;
    padding: 10px 10px;
    .dashboard-row {
        display: flex;
        justify-content: space-between;
        .profile-container {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 20px;
            .title-bar {
                color: #fff;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 6px;
            }
            .email-bar {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    .search-container {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: #fff;
        gap: 20px;
        .search-row {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .search-item {
                font-size: 14px;
                color: #fff;
                display: flex;
                align-items: center;
                gap: 6px;
                cursor: pointer;
            }
        }
    }


}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Choose your footer color */
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}